@import "../styles.scss";

.pag {
    width: 11.375rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.text-jaldi-bold{
    color: $blue;
    font-size: 1.563rem;
    font-weight: 700;
}
