@import "../styles.scss";

.pag {
    width: 11.375rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.numPag{
    color: $blue;
    width: auto;
    font-size: 1.563rem;
    font-weight: 700;
}
@media only screen and (max-width: 700px){
    .pag {
        display: none;
    }
    
}