/* Color Variables */

$blue: #0079FF;
$green: #00DFA2;
$pink: #FF0060;
$light-yellow: #FBFDCE;

@mixin text-jaldi-regular($font-size, $color) {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size;
    color: $color;
}

@mixin text-jaldi-bold($font-size, $color) {
    font-family: "Jaldi", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: $font-size;
    color: $color;
}

* {
    box-sizing: border-box;
}

body {
    @include text-jaldi-regular(1rem, black);
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: auto;
}