/* Color Variables */

$blue: #0079ff;
$green: #00dfa2;
$pink: #ff0060;
$light-yellow: #fbfdce;
$font-size: 0.875rem;

@mixin text-jaldi-regular($font-size, $color) {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  color: $color;
}

@mixin text-jaldi-bold($font-size, $color) {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: $font-size;
  color: $color;
  align-items: left;
}

@mixin inner-shadow-top(
  $color: rgba(0, 0, 0, 0.25),
  $x-offset: 0px,
  $y-offset: 4px,
  $blur: 4px,
  $spread: 0px
) {
  box-shadow: inset $x-offset $y-offset $blur $spread $color;
}


body {
  @include text-jaldi-regular(1rem, black);
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: auto;
}


