@import "styles.scss";

.description-container {
  display: flex;
  flex-direction: column; /* Coloca el label arriba y el input abajo */
  max-width: 300px; /* Ajusta el ancho del contenedor si es necesario */
}

.description-container label {
  font-weight: 600;
  font-size: 20px;
  color: $blue; /* Color del título */
}

.description {
  border: none;
  border-radius: 5px;
  padding: 1.25rem;
  background-color: $light-yellow;
  height: 23.125rem;
  width: 16.688rem;
  @include text-jaldi-regular($font-size, $blue);
}

.description:focus {
  outline: none;
}

.description.inner-shadow-top {
  @include inner-shadow-top;
}