button {
  background: transparent;
  border: none;
}

.infoButton {
  position: absolute;
  top: 6px;
  right: 6px;
}

.editButton {
  position: absolute;
  top: 12px;
  right: 60px;
}

.deleteButton {
  position: absolute;
  top: 12px;
  right: 20px;
}



