@import "../../../styles.scss";

.buttonsContainer {
  display: flex;
  gap: 1rem;

  .btn {
    @include text-jaldi-bold(1.25rem, $light-yellow);
    border-radius: 1.25rem;
    border: none;
    height: 2.5rem;
    width: 7.5rem;
  }

  .acept {
    background-color: $green;
  }

  .cancel {
    background-color: $pink;
  }
}

button {
  background: transparent;
  border: none;
}

.infoButton {
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;
}

.editButton {
  position: absolute;
  top: 0.75rem;
  right: 2.5rem;
  cursor: pointer;
}

.deleteButton {
  position: absolute;
  top: 0.75rem;
  right: 0;
  cursor: pointer;
}
.createButton {
  display: flex;
  height: 2.5rem;
}

.logOutButton {
  display: flex;
  height: 2.5rem;
}
button.logOutButton img {
  transform: translateX(-0.625rem);
}

.pagButton {
  padding: 0;
  margin: 0;
  width: 3.75rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: $blue;
  border: none;
}
.prev {
  transform: rotate(180deg);
}
.message {
  display: flex;
  justify-content: center;
  @include text-jaldi-regular(1.56rem, $blue);

}

@media only screen and (max-width: 700px) {
  .createButton {
    display: none
  }
  .logOutButton {
    display: none;
  }
}