@import "../../styles.scss";

.form {
    width: 370px;
    height: 487px;
    border-radius: 20px;
    border: solid 4px $light-yellow;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
}