@import "../../../styles.scss";

.custom-alert {
    background-color: $light-yellow;
    border-radius: 1.25rem;
    Width: 31.25rem;
    Height: 15.5rem;
}

.custom-title {
    @include text-jaldi-regular(1.56rem, $blue);
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px){
    .custom-alert{
        width: 20rem;
        height: 14.06rem;
    }
}